body{
	margin: 0px;
	padding: 0px;
	background: #f1f1f1;
	font-family: arial;
	box-sizing: border-box;
    text-align: left;
}
.card-container{
	width: 100%;
	height: 100%;;
    margin-top: 0px;
	background: #FFF;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 1px 10px 1px #000;
	overflow: hidden;
	display: inline-block;
}
.upper-container{
	height: 150px;
	background: #50a3a2;
}
.image-container{
	background: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 5px;
	transform: translate(100px,100px);
}
.image-container img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.lower-container{
	height: 280px;
	background: #FFF;
	padding: 20px;
	padding-top: 30px;
	text-align: center;
}
.lower-container h3, h4{
	box-sizing: border-box;
	line-height: .6;
	font-weight: lighter;
}
.lower-container h2,h4{
	color: #0e3332;
	opacity: .6;
	font-weight: bold;
}
.lower-container p{
	font-size: 16px;
	color: gray;
	margin-bottom: 30px;
}
.lower-container .btn{
	padding: 12px 20px;
	background: #50a3a2;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}
.lower-container .btn:hover{
	background: transparent;
	color: #50a3a2;
	border: 2px solid #50a3a2;
}

.lower-container  li{
	padding: 5px;
	background: #50a3a2;
	font-size: 20px;
	color: white;
	width: auto;
	position: relative;
	border-bottom: 1px solid #e6e6e6;
	height: 20px;
	text-align: left;
	border-radius: 5px;
  }
  
  .lower-container li:nth-child(even){
	padding: 5px;
	background: #2f6e6d;
  }
  
  table{
	  margin-bottom: 10px;
	  
  }

  td {
    padding:15px 25px 15px 25px;
	text-align: left;
	color: white;
	width: 400px;
  }

  tr{
	  text-align: left;
	  background-color: #50a3a2;
  }

 tr:nth-child(even){background-color: #0e817f;}

 tr:hover {background-color: #225554}

 .buttons{
	 margin-bottom: 10px;
 }

 

 /*
 	li{
  padding: 10px;
  background: #50a3a2;
  font-size: 20px;
  color: white;
  width: 300px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 40px;
  text-align: left;
  border-radius: 5px;
}

li:nth-child(even){
  padding: 10px;
  background: #2f6e6d;
}

li div{
  position: absolute;
  top: 0;
  right: 0px;
  background: rgba(255,255,255,0.6);
  width: 40px;
  text-align: center;
  padding: 10px 0;
  font-weight:  bold;
  cursor:  pointer;
}

.info{
  display: grid;
  grid-template-columns: 100%;
}

.middle_container{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 1em;
  margin: 10px;
  

}

.middle_container > div{
  background:yellowgreen;
  padding:1em;
  border-radius: 5px;
}
.middle_container > div:nth-child(odd){
  background: lightcoral;
  border-radius: 5px;
}

.lower_container{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 1em;
  margin: 10px;
 

}

.lower_container > div{
  background: plum;
  padding:1em;
  border-radius: 5px;
}
.lower_container > div:nth-child(odd){
  background: slateblue;
  border-radius: 5px;
}

td {
  padding:15px 25px 15px 25px;
text-align: left;
color: white;
width: 400px;
}

tr{
  text-align: left;
  background-color: #50a3a2;
}

tr:nth-child(even){background-color: #0e817f;}

tr:hover {background-color: #225554}

.buttons{
 margin-bottom: 10px;
}
 */